* {
 box-sizing: border-box;   
}
body {
    margin: 0;
    padding: 0;
    background-color:#FFD90F;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    
}
.resaltar:hover{
    color: aqua;
}
.parrafo{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 200%;
}
.video{
    display: flex;

    
}
.descripciones{
   display: flex; 
  

}
.parrafo2{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 200%;
}
.barto{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 200%; 
}
h1{
    font-family: 'Gloria Hallelujah', cursive;
}
.redes{
    width: 600px;
    height: auto;
    justify-content: end;
}
.m{
    width: 100%;
}