* {
 box-sizing: border-box;   
}
body {
    margin: 0;
    padding: 0;
    background-color:#FFD90F;
}
.parrafo{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 200%;
}
.video{
    display: flex;
    justify-content: end;
    
}